$p-bold: (
  font-size: 18px,
  font-weight: 700,
);
$p-l-bold: (
  font-size: 20px,
  font-weight: 700,
);
$p-n: (
  font-size: 18px,
  font-weight: 400,
);
$p-s: (
  font-size: 16px,
  font-weight: 400,
);

$layout: (
  max-width: 1440px,
);
